<div >
		      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">Home</a>
      
        <button class="navbar-toggler" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
      
            <li class="nav-item">
              <a class="nav-link" routerLink="/registration">Farmer Registration</a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link" routerLink="/uploadProduct">uploadProduct</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/products">viewProducts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/request">requestMembership</a>
            </li>
          </ul>
        </div>
      </nav>
      
    
</div>